<div id="<%= dom_id(comment) %>" class="comment-item mb-2 border-bottom pb-1">
  <div class="d-flex justify-content-between align-items-start">
    <p class="comment-author m-0">
      <b><%= link_to (comment.account&.username || "Anon"), account_path(comment.account), class: "text-dark text-decoration-none" %>:</b>
      <%= comment.body %>
    </p>
    <% if current_account == comment.account %>
      <%= button_to post_comment_path(comment.post, comment), method: :delete, class: "btn btn-sm btn-outline-danger", form: { class: "d-inline" } do %>
        <i class="bi bi-trash" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>

  <%# Render partial for comment likes %>
  <%= render "comments/like_button", comment: comment, post: comment.post %>
</div>
