<div id="like_post_<%= post.id %>" class="post-actions-section mb-3">
  <% if current_account %>
    <div class="d-flex align-items-center gap-2">
      <% reaction = current_account.reactions.find_by(post: post) %>
      <% if reaction %>
        <%= button_to reaction_path(reaction), method: :delete, class: "btn-like btn btn-link p-0", form: { data: { turbo: true } } do %>
          <i class="bi bi-heart-fill text-danger fs-4"></i>
        <% end %>
      <% else %>
        <%= button_to like_post_path(post), method: :post, class: "btn-like btn btn-link p-0", form: { data: { turbo: true } } do %>
          <i class="bi bi-heart text-dark fs-4"></i>
        <% end %>
      <% end %>
      <span class="fw-bold"><%= post.reactions.count %> likes</span>
    </div>
  <% else %>
    <div class="d-flex align-items-center gap-2">
      <i class="bi bi-heart text-muted fs-4"></i>
      <span class="fw-bold"><%= post.reactions.count %> likes</span>
    </div>
  <% end %>
</div>