<div class="posts-index__container">
  <header class="posts-index__header mb-4">
    <h2 class="fw-bold">Three Musketeers</h2>
    <div class="posts-index__header-actions">
      <% if current_account %>
        <span>Hi, <b><%= current_account.username %></b>!</span>
      <% else %>
        <%= link_to "Login", login_path, class: "btn btn-outline-primary me-2" %>
        <%= link_to "Sign Up", new_account_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </header>

  <div class="search-container mb-4">
    <%= form_with url: search_accounts_path, method: :get, local: true, class: "d-flex" do |f| %>
      <%= f.text_field :username, placeholder: "Search users...", class: "form-control search-input", value: params[:username] %>
    <% end %>
  </div>

 

  <% @posts.each do |post| %>
    <div class="post-card card mb-5 shadow-sm">
      <div class="post-meta-row card-header bg-white d-flex justify-content-between align-items-center">
        <div class="post-header">
          <%= link_to post.account.username, account_path(post.account), class: "fw-bold text-dark text-decoration-none" %>
        </div>
        <% if current_account == post.account %>
          <%= link_to "Delete", post_path(post), data: { turbo_method: :delete }, class: "text-danger small text-decoration-none" %>
        <% end %>
      </div>

      <% if post.image.attached? %>
        <div class="post-image">
          <%= image_tag post.image, class: "card-img-top" %>
        </div>
      <% end %>

      <div class="card-body">
        <p class="post-body card-text"><%= post.body %></p>
        <hr>

        <%# Виклик partial для лайків і збереження поста %>
        <%= render "posts/post_actions", post: post %>

        <div class="comments-wrap mt-3 bg-light p-3 rounded">
          <% post.comments.each do |comment| %>
            <%= render "comments/comment", comment: comment %>
          <% end %>

          <% if current_account %>
            <div class="comment-form-wrap mt-3">
              <%= render 'comments/form', post: post %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>