<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Blog App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Favicon %>
    <%= favicon_link_tag 'fav-icon.jpg' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>
  <body>
    <nav>
    <%= link_to "Головна", root_path, class: "nav-link profile-button" %>
    
    <% if current_account.present? %>
      <%= link_to "Мій профіль", my_profile_path, class: "nav-link profile-button" %>
      <%= link_to "Вийти", logout_path, method: :get, class: "nav-link profile-button" %>
    <% end %>
  </nav>
    <%= yield %>
  </body>
</html>
