<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Blog App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Blog App">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <%# Favicon %>
    <%= favicon_link_tag 'fav-icon.jpg' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>
  <body>
    <div class="insta-sidebar">
      <div class="insta-sidebar-logo">
        <%= link_to "Musketeers", root_path, class: "insta-logo-link" %>
      </div>

      <nav class="insta-nav">
        <%= link_to root_path, class: "insta-nav-item" do %>
          <i class="bi bi-house-door-fill insta-icon"></i>
          <span class="insta-nav-text">Головна</span>
        <% end %>

        <% if current_account.present? %>
          <%= link_to my_profile_path, class: "insta-nav-item" do %>
            <i class="bi bi-person-circle insta-icon"></i>
            <span class="insta-nav-text">Мій профіль</span>
          <% end %>

          <%= link_to logout_path, method: :get, class: "insta-nav-item insta-nav-item--danger" do %>
            <i class="bi bi-box-arrow-right insta-icon"></i>
            <span class="insta-nav-text">Вийти</span>
          <% end %>
        <% end %>
      </nav>
    </div>
    <main class="main-content">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-8 col-lg-6">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
    
  </body>
</html>
